# Listing Files
alias l='ls -l'
alias ll='ls -alFh'
alias lt='ls --human-readable --size -1 -S --classify'

# View Only Mounted Devices
alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3;  }' | column -t | egrep ^/dev/ | sort""'"

# Copy with Progess Bar
alias cpv='rsync -ah --info=progress2'

# Untar
alias untar='tar -zxvf'

alias python='python3'
alias pip='pip3'

alias tmux='tmux new-session -A -s default'

alias count-file-watchers='find /proc/*/fd -user "$USER" -lname anon_inode:inotify -printf "%hinfo/%f\n" 2>/dev/null | xargs cat | grep -c "^inotify"'

{{- if eq .chezmoi.hostname "debian-xps-9550"}}
gsettings set org.gnome.gnome-flashback desktop false
export GOPATH=$HOME/Go
{{- else if eq .chezmoi.hostname "debian-desktop"}}
export GOPATH=$HOME/go
{{- else if eq .chezmoi.hostname "AMP-6537"}}
export GOPATH=$HOME/go
export PATH="/usr/local/go/bin:$PATH"
{{- else if eq .chezmoi.hostname "AMP-8060"}}
# export DISPLAY="`grep nameserver /etc/resolv.conf | sed 's/nameserver //'`:0"
export DISPLAY=localhost:10.0
# export LIBGL_ALWAYS_INDIRECT=1
export GOPATH=$HOME/go
{{- else }}
export GOPATH=$HOME/go
{{- end}}

# Node Version Manager
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

export NODE_OPTIONS="--max_old_space_size=6144 --openssl-legacy-provider"

export GO111MODULE="on"

export PATH="$HOME/.emacs.d/bin:$PATH"
export PATH="$GOPATH:$PATH"
export PATH="$GOPATH/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/bin:$PATH"

export JIRA_API_TOKEN={{ (bitwarden "item" "ampcontrol_jira-api-token").notes }}

# Jira CLI
alias jira-current="jira sprint list --current -a$(jira me)"


export EDITOR=nvim
