# Listing Files
alias l='ls -l'
alias ll='ls -alFh'
alias lt='ls --human-readable --size -1 -S --classify'

# View Only Mounted Devices
alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3;  }' | column -t | egrep ^/dev/ | sort""'"

# Copy with Progess Bar
alias cpv='rsync -ah --info=progress2'

# Untar
alias untar='tar -zxvf'

alias python='python3'
alias pip='pip3'

# alias tmuxx='tmux'
# alias tmux='tmux new-session -A -s default'

alias count-file-watchers='find /proc/*/fd -user "$USER" -lname anon_inode:inotify -printf "%hinfo/%f\n" 2>/dev/null | xargs cat | grep -c "^inotify"'

export GOPATH=$HOME/go

# Node Version Manager
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion


export GO111MODULE="on"

export PATH="$HOME/.emacs.d/bin:$PATH"
export PATH="$GOPATH:$PATH"
export PATH="$GOPATH/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"

# export JIRA_API_TOKEN={{ (bitwarden "item" "ampcontrol_jira-api-token").notes }}
# export PUSH_OVER_USER_KEY ={{ (bitwarden "item" "push_over_user_key").notes }}
# export PUSH_OVER_API_KEY ={{ (bitwarden "item" "push_over_api_key").notes }}

# Jira CLI
alias jira-current="jira sprint list --current -a$(jira me)"

export FZF_DEFAULT_OPTS=" \
--color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
--color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
--color=marker:#f4dbd6,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796"

# pnpm
export PNPM_HOME="/home/sam/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
# pnpm end

export EDITOR=nvim
