
# Better Splitting
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"

# Better Navigation
is_vim="ps -o state= -o comm= -t '#{pane_tty}' | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"

bind-key -n 'C-h' if-shell "$is_vim" 'send-keys C-h' { if -F '#{pane_at_left}' '' 'select-pane -L' }
bind-key -n 'C-j' if-shell "$is_vim" 'send-keys C-j' { if -F '#{pane_at_bottom}' '' 'select-pane -D' }
bind-key -n 'C-k' if-shell "$is_vim" 'send-keys C-k' { if -F '#{pane_at_top}' '' 'select-pane -U' }
bind-key -n 'C-l' if-shell "$is_vim" 'send-keys C-l' { if -F '#{pane_at_right}' '' 'select-pane -R' }

bind-key -T copy-mode-vi 'C-h' if -F '#{pane_at_left}' '' 'select-pane -L'
bind-key -T copy-mode-vi 'C-j' if -F '#{pane_at_bottom}' '' 'select-pane -D'
bind-key -T copy-mode-vi 'C-k' if -F '#{pane_at_top}' '' 'select-pane -U'
bind-key -T copy-mode-vi 'C-l' if -F '#{pane_at_right}' '' 'select-pane -R'

# Better Resizing

# Enabled 256 COlor
set -g default-terminal "screen-256color"

# Enable scrolling
set -g mouse on

# easy reload
bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded"

# Plugins
run -b '~/.tmux/plugins/tpm/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-resurrect'

# Powerline
run-shell "powerline-daemon -q"

{{- if eq .chezmoi.hostname "tifc" "AMP-6537"}}
source "/home/$USER/.local/lib/python3.8/site-packages/powerline/bindings/tmux/powerline.conf"
{{- else if eq .chezmoi.os "darwin"}}
source "/$HOME/Library/Python/3.8/lib/python/site-packages/powerline/bindings/tmux/powerline.conf"
{{- else }}
source "/home/$USER/.local/pipx/venvs/powerline-status/lib/python3.8/site-packages/powerline/bindings/tmux/powerline.conf"
{{- end }}

# Keep at bottom
run -b '~/.tmux/plugins/tpm/tpm'
