# Listing Files
alias l='ls -l'
alias ll='ls -alFh'
alias lt='ls --human-readable --size -1 -S --classify'

# View Only Mounted Devices
alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3;  }' | column -t | egrep ^/dev/ | sort""'"

# Copy with Progess Bar
alias cpv='rsync -ah --info=progress2'

# Untar
alias untar='tar -zxvf'

alias python='python3'
alias pip='pip3'

{{- if eq .chezmoi.hostname "debian-xps-9550"}}
gsettings set org.gnome.gnome-flashback desktop false
export GOPATH=$HOME/Go
{{- else if eq .chezmoi.hostname "debian-desktop"}}
export GOPATH=$HOME/go
{{- else if eq .chezmoi.hostname "AMP-6537"}}
export GOPATH=$HOME/go
export PATH="/usr/local/go/bin:$PATH"
{{- else if eq .chezmoi.hostname "AMP-8060"}}
# export DISPLAY="`grep nameserver /etc/resolv.conf | sed 's/nameserver //'`:0"
export DISPLAY=localhost:10.0
# export LIBGL_ALWAYS_INDIRECT=1
export GOPATH=$HOME/go
{{- else }}
export GOPATH=$HOME/go
{{- end}}


export PATH="$HOME/.emacs.d/bin:$PATH"
export PATH="$GOPATH:$PATH"
export PATH="$GOPATH/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/bin:$PATH"


