configuration {
    modes: "window,drun,run,ssh,filebrowser";
    terminal: "alacritty";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    hide-scrollbar: true;
}

@theme "catppuccin-macchiato"
